#content {
  width: 80%;
  display: flex;
}

#image-holder img {
  width: 40%;
  margin-left: 40%;
}

#description {
  padding: 20px;
  background-color: ghostwhite;
  border-radius: 15px;
  margin-right: 100px;
}

#description h1, p {
  text-align: center;
}