@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

.navbar {
  background-color: ghostwhite;
  position: relative;
  border-radius: 20px;
  margin: 40px 200px 0 200px;
  display: flex;
}

.navbar .logo {
  background-color: ghostwhite;
  text-decoration: none;
  width: 30%;
  height: 30%;
  margin-left: 50px;
  display: flex;
  cursor: pointer;
}

.navbar .logo img {
  background-color: ghostwhite;
  margin: 15px 2px 15px 0;
  width: 65px;
}

.navbar .logo p {
  background-color: ghostwhite;
  font-family: 'Potta One', cursive;
  text-decoration: none;
  color: #00BB77;
  margin: 0 auto;
  margin-left: 5px;
  font-size: 30px;
}

.navbar ul {
  width: 100%;
  background-color: ghostwhite;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.navbar ul li {
  padding-right: 80px;
  background-color: ghostwhite;
  list-style-type: none;
}

.navbar .links {
  width: 70px;
  height: 20px;
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 15px 15px 15px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #00BB77;
  color: ghostwhite;
}